<%- include ("./partials/header") %>
  <body>
    <header class="header">
      <span class="header__logo">Page <%= user.username %> </span>
      <form action="/logout?_method=DELETE" method="POST">
        <button class="header__logout buttons__button button" type="submit">
          Logout
        </button>
      </form>
    </header>
    <main>
      
    </main>
  </body>
</html>
