<%- include ("./partials/head") %>
  <body>
    <head class="header"></head>
    <main>
      <div class="container container--register is-flex">
        <h2 class="register__title">LOGIN</h2>
        <%- include ("./partials/messages") %>
        <form class="form" action="/login" method="POST">
          <div class="form__box">
            <% if (messages.error) { %>
            <div class="alert alert-danger">
              <strong><%= messages.error %></strong>
            </div>
            <% } %>
          </div>
          <div class="form__box">
            <span class="form__text"> Username </span>
            <input
              class="form__input input"
              placeholder="Username"
              name="username"
            />
          </div>
          <div class="form__box">
            <span class="form__text"> Password </span>
            <input
              class="form__input input"
              placeholder="Password"
              type="password"
              name="password"
            />
          </div>
          <button class="form__button button">Submit</button>
        </form>
        <p class="login__text"><a href="/register">Register</a></p>
      </div>
    </main>
  </body>
</html>
